body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(80deg,rgba(42, 123, 155, 1) 1%, rgba(86, 198, 133, 1) 94%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 30px 60px;
    border-bottom: 1px solid rgb(71, 70, 70);
    margin-bottom: 30px;
}

.logo {
    width: 120px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.choose-text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 62px;
}

.choice-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: darkcyan; 
    text-decoration: none;
    font-size: 32px;
    width: 30%;
    padding: 25px 26px;
    text-align: center;
    border: solid 2px darkslategray;
    border-radius: 8px;
    transition: transform 200ms,background 200ms;
}

button:hover {
            background: mediumaquamarine;
            transform: translateY(-6px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        }


.display-choices {
    display: flex;
    justify-content: space-around;
    padding: 16px 28px;
}

.display-choices div {
    text-align: center;
   font-size: 28px;
}

.choice {
    font-size: 38px;
    color: #1a1a1a;
    padding-top: 16px;
}


.round-result {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

.player-score span, .computer-score span {
    padding-top: 16px;
    font-size: 32px;
    color:#1a1a1a;
}

